// Responsive mixin
@mixin responsive($width) {
  @media screen and (max-width: $width + "px"){ @content; }
}

@mixin responsive-min($width) {
  @media screen and (min-width: $width + "px"){ @content; }
}

@mixin font($color, $font, $size, $style, $weight, $letter-spacing, $line-height) {
  color: $color;
  font-family: $font;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

@mixin breakpoint($device) {
  @if($device == 'mac') {
    @media screen and (max-width: map-get($breakpoints, mac )){ @content; }
  } @else if($device == 'pc') {
    @media screen and (max-width: map-get($breakpoints, pc )){ @content; }
  } @else if($device == 'small-pc') {
    @media screen and (max-width: map-get($breakpoints, small-pc )){ @content; }
  } @else if($device == 'ipad-landscape') {
    @media screen and (max-width: map-get($breakpoints, ipad-landscape )){ @content; }
  } @else if($device == 'mini-pc') {
    @media screen and (max-width: map-get($breakpoints, mini-pc )){ @content; }
  } @else if($device == 'mini-ipad') {
    @media screen and (max-width: map-get($breakpoints, mini-ipad )){ @content; }
  } @else if($device == 'ipad') {
    @media screen and (max-width: map-get($breakpoints, ipad )){ @content; }
  } @else if($device == 'iphone') {
    @media screen and (max-width: map-get($breakpoints, iphone )){ @content; }
  } @else if($device == 'iphone-potrait') {
    @media screen and (max-width: map-get($breakpoints, iphone-potrait )){ @content; }
  }
}

@mixin phone-landscape($device) {
  @if($device == 'ipad') {
    @media screen and (max-width: map-get($breakpoints, ipad )) and (orientation: landscape) { @content; }
  } @else if($device == 'iphone') {
    @media screen and (max-width: map-get($breakpoints, iphone )) and (orientation: landscape) { @content; }
  } @else if($device == 'iphone-potrait') {
    @media screen and (max-width: map-get($breakpoints, iphone-potrait )) and (orientation: landscape) { @content; }
  }
}

@mixin reverse-breakpoint($device) {
   @if($device == 'mac') {
    @media screen and (min-width: map-get($breakpoints, mac )){ @content; }
  } @else if($device == 'pc') {
    @media screen and (min-width: map-get($breakpoints, pc )){ @content; }
  } @else if($device == 'small-pc') {
    @media screen and (min-width: map-get($breakpoints, small-pc )){ @content; }
  } @else if($device == 'ipad-landscape') {
    @media screen and (min-width: map-get($breakpoints, ipad-landscape )){ @content; }
  } @else if($device == 'mini-pc') {
    @media screen and (min-width: map-get($breakpoints, mini-pc )){ @content; }
  } @else if($device == 'mini-ipad') {
    @media screen and (min-width: map-get($breakpoints, mini-ipad )){ @content; }
  } @else if($device == 'ipad') {
    @media screen and (min-width: map-get($breakpoints, ipad )){ @content; }
  } @else if($device == 'iphone') {
    @media screen and (min-width: map-get($breakpoints, iphone )){ @content; }
  } @else if($device == 'iphone-potrait') {
    @media screen and (min-width: map-get($breakpoints, iphone-potrait )){ @content; }
  }
}

@mixin min-max($device) {
    @if($device == 'mac') {
     @media only screen and (min-width: map-get($breakpoints, pc ) + 1) and (max-width: map-get($breakpoints, mac )) { @content; }
  } @else if($device == 'pc') {
     @media only screen and (min-width: map-get($breakpoints, small-pc) + 1) and (max-width: map-get($breakpoints, pc )) { @content; }
  } @else if($device == 'small-pc') {
     @media only screen and (min-width: map-get($breakpoints, ipad) + 1) and (max-width: map-get($breakpoints, pc )) { @content; }
  } @else if($device == 'ipad') {
     @media only screen and (min-width: map-get($breakpoints, iphone) + 1) and (max-width: map-get($breakpoints, ipad)) { @content; }
  }
}

@mixin keyframes($value) {
  @-webkit-keyframes #{$value} {
    @content;
  }
  @-moz-keyframes #{$value} {
    @content;
  }
  @-o-keyframes #{$value} {
    @content;
  }
  @keyframes #{$value} {
    @content;
  }
} 


@mixin vendor-prefix($property,$value) {
  #{'-webkit-'+$property}: $value;
  #{'-moz-'+$property}: $value;
  #{'-ms-'+$property}: $value;
  #{'-o-'+$property}: $value;
  #{$property}: $value;
}

@mixin two-vendor-prefix($property,$value) {
  #{'-webkit-'+$property}: $value;
  #{'-moz-'+$property}: $value;
  #{$property}: $value;
}

@mixin old-vendor-prefix($property,$value) {
  #{'-webkit-'+$property}: $value;
  #{'-ms-'+$property}: $value;
  #{'-o-'+$property}: $value;
  #{$property}: $value;
}

@mixin new-vendor-prefix($property,$value) {
  #{'-webkit-'+$property}: $value;
  #{'-moz-'+$property}: $value;
  #{'-o-'+$property}: $value;
  #{$property}: $value;
}

// Flexbox display
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// Flexbox display
@mixin inline-flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}
