
@font-face {
  font-family: "Roboto Black";
  src: url("assets/vendor/fonts/roboto/Roboto-Black.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Light";
  src: url("assets/vendor/fonts/roboto/Roboto-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("assets/vendor/fonts/roboto/Roboto-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather Black";
  src: url("assets/vendor/fonts/merriweather/Merriweather-Black.otf");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather Italic";
  src: url("assets/vendor/fonts/merriweather/Merriweather-Italic.otf");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather Regular";
  src: url("assets/vendor/fonts/merriweather/Merriweather-Regular.otf");
  font-display: swap;
}


