/* Colors
=========================*/
$colors: (
  coral: #ff6d48,
  white: #fff,
  black: #000,
  Merlin: #3f3b36,
  para: #231f20,
  text-black: #1b1917,
  lighter-gray: #f1f1f1,
  heading: #1c1c15,
  orange: #f75c3e,
  light-orange: #ff6d47,
  table-bg: #e5e5e5,
  text-gray: #535353,
  input-border: #908e8f,
  label: #939192,
  dark-gray:#2b2b2b,
  gray: #d6dade,
  con-heading: #231f20,
  submit: #b2b0ae,
  submit-bg: #fcbeb1,
  policy-text: #ababab,
  red: #f00,
  usa-heading: #403b35,
  usa-back: #ebebea,
  journey-back: #1a1a1a
);

/* Breakpoints
=========================*/
$breakpoints: (
 mac: 1920px,
 pc: 1440px,
 small-pc: 1280px, 
 mini-pc: 1024px,
 ipad: 995px,
 iphone: 767px,
 iphone-potrait: 480px,
);

/* Font Family
=========================*/

$fontfamily: (	
  fontawesome: 'FontAwesome',
	roboto-black: 'Roboto Black',
	roboto-light: 'Roboto Light',
	roboto-bold: 'Roboto Bold',
	merriweather-black: 'Merriweather Black',
	merriweather-italic: 'Merriweather Italic',
	merriweather-regular: 'Merriweather Regular',
);
