/*
Theme Name: Thomas
Author: Ajay Gejage
Description: Thomas wordpress theme
Version: 0.0.1
Tags: js,sass,jquery
*/
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

img {
  width: 100%;
  height: auto;
}

/* Colors
=========================*/
/* Breakpoints
=========================*/
/* Font Family
=========================*/
@font-face {
  font-family: "Roboto Black";
  src: url("assets/vendor/fonts/roboto/Roboto-Black.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Light";
  src: url("assets/vendor/fonts/roboto/Roboto-Light.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("assets/vendor/fonts/roboto/Roboto-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Merriweather Black";
  src: url("assets/vendor/fonts/merriweather/Merriweather-Black.otf");
  font-display: swap;
}
@font-face {
  font-family: "Merriweather Italic";
  src: url("assets/vendor/fonts/merriweather/Merriweather-Italic.otf");
  font-display: swap;
}
@font-face {
  font-family: "Merriweather Regular";
  src: url("assets/vendor/fonts/merriweather/Merriweather-Regular.otf");
  font-display: swap;
}

/*# sourceMappingURL=style.css.map */
